
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Rules for users collection and sub-collections
    match /users/{userId}/{document=**} {
      allow read, write: if isSignedIn() && isOwner(userId);
    }
    
    // Public collections for seeding initial data by any signed-in user
    match /hiragana/{kanaId} { allow read: if true; allow write: if isSignedIn(); }
    match /katakana/{kanaId} { allow read: if true; allow write: if isSignedIn(); }
  }
}
